body, html {
  height: 100%;
}
.bg {
  background-image: url("assets/img/astronaut.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: -2%;
}

.bg2 {
  background-image: url("assets/img/astronaut2.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: -2%;
}